@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
:root {
    --numbg: #21273e;
    --numcolor: #e4e7f1;
    --navbg: #0f121d;
}

* {
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Crimson Text', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

#body {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}

nav {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 10vh;
    background-color: var(--navbg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 100;
}

nav h2 {
    font-size: 25px;
}

nav h2 span {
    font-size: 25px;
    color: #a80508;
}

nav .list {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    position: relative;
    padding: 0 3px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    border-radius: 10px;
    left: 0;
    bottom: -5px;
    transition: all .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav i {
    font-size: 20px;
    cursor: pointer;
}

#open_nav {
    display: none;
}

#close_nav {
    display: none;
}


/*
@media only screen and (max-width: 2560px) {
    nav {
        padding: 0 50px;
    }
    nav h2 {
        font-size: 100px;
    }
    nav ul li a {
        font-size: 50px;
    }
    nav ul li a::after {
        height: 5px;
    }
    nav i {
        font-size: 50px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1440px) {
    nav {
        padding: 0 40px;
    }
    nav h2 {
        font-size: 50px;
    }
    nav ul li a {
        font-size: 30px;
    }
    nav ul li a::after {
        height: 5px;
    }
    nav i {
        font-size: 30px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1024px) {
    nav {
        padding: 0 30px;
    }
    nav h2 {
        font-size: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a::after {
        height: 5px;
    }
    nav i {
        font-size: 20px;
        cursor: pointer;
    }
}
*/

@media only screen and (max-width: 630px) {
    nav .list {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: -100vh;
        left: 0;
        flex-direction: column;
        background-color: var(--navbg);
        justify-content: center;
    }
    nav ul {
        height: 50%;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 20px;
    }
    #close_nav {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }
    nav i {
        font-size: 30px;
        margin-top: 10px;
    }
    #open_nav {
        display: block;
        margin: auto 0;
    }
}

.num_div {
    height: 100%;
    width: 20vw;
    background-color: var(--numbg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.num_div h1 {
    font-size: 300px;
    text-transform: uppercase;
    color: var(--numcolor);
    opacity: .1;
    font-family: 'Bebas Neue', cursive;
    margin-left: -100px;
}


/*
@media only screen and (max-width: 2560px) {
    .num_div {
        width: 30vw;
    }
    .num_div h1 {
        font-size: 1000px;
    }
}

@media only screen and (max-width: 1440px) {
    .num_div {
        width: 30vw;
    }
    .num_div h1 {
        font-size: 700px;
    }
}

@media only screen and (max-width: 1024px) {
    .num_div {
        width: 30vw;
    }
    .num_div h1 {
        font-size: 500px;
    }
}
*/

@media only screen and (max-width: 630px) {
    .num_div {
        height: 100%;
        width: 30vw;
    }
}

.design_main_text {
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
}

.design_main_text h3 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.design_main_text h1 {
    font-size: 100px;
    font-weight: 600;
    margin: 5px 0;
}

.design_main_text p {
    font-size: 13px;
    padding-right: 50px;
}

#Explore {
    border: 1px solid #fff;
    padding: 10px 20px;
    outline: none;
    background: transparent;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

#Explore a {
    text-decoration: none;
    color: #fff;
}


/*
@media only screen and (max-width: 2560px) {
    .design_main_text {
        width: 30vw;
    }
    .design_main_text h3 {
        font-size: 50px;
    }
    .design_main_text h1 {
        font-size: 500px;
        margin: 3px 0;
    }
    .design_main_text p {
        font-size: 40px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 1440px) {
    .design_main_text {
        width: 30vw;
    }
    .design_main_text h3 {
        font-size: 40px;
    }
    .design_main_text h1 {
        font-size: 300px;
        margin: 2px 0;
    }
    .design_main_text p {
        font-size: 30px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .design_main_text {
        width: 30vw;
    }
    .design_main_text h3 {
        font-size: 30px;
    }
    .design_main_text h1 {
        font-size: 200px;
        margin: 2px 0;
    }
    .design_main_text p {
        font-size: 20px;
        padding-right: 20px;
    }
}
*/

@media only screen and (max-width: 630px) {
    .design_main_text {
        width: 30vw;
    }
    .design_main_text h3 {
        font-size: 15px;
    }
    .design_main_text h1 {
        font-size: 120px;
        margin: 3px 0;
    }
    .design_main_text p {
        font-size: 14px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .design_main_text {
        width: 30vw;
    }
    .design_main_text h3 {
        font-size: 15px;
    }
    .design_main_text h1 {
        font-size: 90px;
        margin: 2px 0;
    }
    .design_main_text p {
        font-size: 10px;
        padding-right: 20px;
    }
    #Explore {
        padding: 6px 16px;
    }
}

.text {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 20vw;
    color: #fff;
}

.text h4 {
    font-size: 18px;
    font-weight: 600;
}

.text p {
    font-size: 13px;
    padding-left: 15px;
}


/*
@media only screen and (max-width: 2560px) {
    .text {
        width: 40vw;
    }
    .text h4 {
        font-size: 70px;
        font-weight: 700;
    }
    .text p {
        font-size: 50px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 1440px) {
    .text {
        width: 40vw;
    }
    .text h4 {
        font-size: 50px;
    }
    .text p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .text {
        width: 40vw;
    }
    .text h4 {
        font-size: 40px;
    }
    .text p {
        font-size: 20px;
    }
}
*/

@media only screen and (max-width: 630px) {
    .text {
        width: 50vw;
    }
    .text h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .text p {
        font-size: 16px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 430px) {
    .text {
        width: 50vw;
    }
    .text h4 {
        font-size: 16px;
        font-weight: 700;
    }
    .text p {
        font-size: 13px;
        font-weight: 600;
    }
}

.glass {
    position: absolute;
    top: 70%;
    right: 10px;
    height: 20vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    color: #fff;
}

.glass_num {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--numbg);
    border-radius: 10px;
    cursor: pointer;
}

.glass_num h1 {
    font-size: 50px;
    color: var(--numcolor);
    opacity: .2;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

.glass_text {
    padding: 0 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.glass_text h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
}

.glass_text p {
    font-size: 14px;
}


/*
@media only screen and (max-width: 2560px) {
    .glass {
        width: 50vw;
    }
    .glass_num h1 {
        font-size: 300px;
    }
    .glass_text h2 {
        font-size: 70px;
    }
    .glass_text p {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1440px) {
    .glass {
        width: 50vw;
    }
    .glass_num h1 {
        font-size: 100px;
    }
    .glass_text h2 {
        font-size: 50px;
    }
    .glass_text p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .glass {
        width: 50vw;
    }
    .glass_num h1 {
        font-size: 80px;
    }
    .glass_text h2 {
        font-size: 40px;
    }
    .glass_text p {
        font-size: 20px;
    }
}
*/

@media only screen and (max-width: 1000px) {
    .glass {
        width: 40vw;
    }
}

@media only screen and (max-width: 630px) {
    .glass {
        width: 60vw;
        top: 75%;
    }
    .glass_num {
        width: 40%;
    }
}


/*about*/

.about,
.project,
.services,
.contact {
    position: absolute;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 200;
}

.abt_title,
.pro_title,
.ser_title,
.con_title {
    height: 40%;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1551590192-8070a16d9f67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pro_title {
    background: url('https://images.unsplash.com/photo-1583529968915-10a0c193050a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=484&q=80');
}

#ser_title {
    background: url('https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
}

#con_title {
    background: url('https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
}

.abt_title button,
.pro_title button,
.ser_title button,
.con_title button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 25px;
    border: none;
    outline: none;
    background-color: var(--navbg);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.abt_title h1,
.pro_title h1,
.ser_title h1,
.con_title h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
    /*text-shadow: 1px 1px 3px #fff;*/
}

.abt_text,
.pro_text,
.ser_text,
.con_text {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    overflow: hidden;
}

.abt_text p,
.pro_text p,
.ser_text p,
.con_text p {
    font-size: 17px;
}

@media only screen and (max-width: 400px) {
    .abt_text,
    .pro_text,
    .ser_text,
    .con_text {
        padding: 20px;
    }
}


/*gallary*/

.search {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--navbg);
}

.search h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.search_input {
    height: 50px;
    width: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding: 0 5px;
    font-size: 16px;
}

.search_input i {
    color: var(--navbg);
    font-size: 30px;
    cursor: pointer;
}

.gallary_cont {
    min-height: 100vh;
    width: 100%;
    display: grid;
    /*
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 5px;
    place-items: center;*/
    justify-items: center;
    padding: 20px;
}

.download {
    position: relative;
    overflow: hidden;
}

.download img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.download button {
    position: absolute;
    right: 10px;
    bottom: -50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.download button a {
    text-decoration: none;
    color: var(--navbg);
    font-size: 20px;
}

.download button i {
    font-size: 20px;
    color: var(--navbg);
}

.download:hover .btn {
    bottom: 10px;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 630px) {
    .download button {
        bottom: 10px;
        margin: 0 auto;
    }
    .download button {
        padding: 1px 3px;
    }
    .download button i {
        font-size: 15px;
    }
}


/*Loader*/

#loader {
    height: 100vh;
    width: 100%;
    background: #222;
    position: fixed;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading {
    margin: 10px 0;
    font-size: 15px;
    color: #fff;
    animation: 2s spacing infinite;
}

@keyframes spacing {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 5px;
    }
    100% {
        letter-spacing: 0px;
    }
}

.cubes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cube1,
.cube4 {
    height: 50px;
    width: 50px;
    background-color: #fff;
    animation: 1s moven infinite;
}

.cube2,
.cube3 {
    height: 50px;
    width: 50px;
    background-color: #222;
    animation: 1s movn infinite;
}

@keyframes moven {
    0% {
        background-color: #222;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #222;
    }
}

@keyframes movn {
    0% {
        /*transform: translateY(-50px);*/
        background-color: #fff;
    }
    50% {
        background-color: #222;
    }
    100% {
        background-color: #fff;
    }
}


/*Loader ends*/